<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>管理者頁面</title>
		<link rel="stylesheet" href="/css/st2.css">
	</head>
	<body>
		<div id="title">
			<h1>管理者首頁 (已登入)</h1>
		</div>
		<div class="linklist">
			<table>
				<tr>
					<td width=80 align=center><a href="/manage/product/uploadProduct">產品上架</a>
					<td width=120 align=center><a href="/manage/product/list">產品總覽及修改</a>
					<td width=500 align=right><a href="/manage/toMenu">回管理者首頁</a>
					<td width=100 align=left><a href="/manage/logout">登出</a>
				</tr>
			</table>					
		</div>
		
		<div id="content">
			<table width=500 align=center border=1>
				<tr height=80px>
					<td><h2><a href="/manage/product/uploadProduct">(1)產品上架</a></h2>
				<tr height=80px>
					<td><h2><a href="/manage/product/list">(2)產品總覽及修改</a></h2>
				<tr height=80px>
					<td><h2>(2)訂單管理 (未完成)</h2>
				<tr height=80px>
					<td><h2>(3)公告欄管理 (未完成)</h2>
				<tr height=80px>
					<td><h2><a href="/user/toIndex">到使用者登入頁</a></h2>
			</table>
		</div>
		<div id="footer"></div>
	</body>
</html>