<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>商品專區</title>
	<link rel="stylesheet" href="/css/st1.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
</head>
<body>
	<!-- header區 -->
	<div class="header">
		<h1 style="padding:15px 20px">有機農產品購物網</h1>
		<h2 style="padding:5px 20px">商品專區</h2>
	</div>
	
	<div class="linklist">
		<table>
			<tr>
				<td>選購商品
				<td width=60 align=center><a href="/product/vegetables">Vegetables</a>
				<td width=60 align=center><a href="/product/fruits">Fruits</a>
				<td width=60 align=center><a href="/product/others">Others</a>
				<td width=250 align=right><a href="/cart/loginCart">查看購物車</a>
				<td width=300 align=left><a href="/user/toIndex">回首頁</a>
			</tr>
		</table>					
	</div>
	
	<!-- content區 -->
	<div class="content">
		<div class="productInfo">
			<table border=0>
				<tr height=300px>
					<td width=400px>
						<!-- 左邊:產品圖片 -->
						<div class="container">
							<img th:src="@{'/pic/'+${session.PInfo.picName}}">
						</div> 
					<td width=400px rowspan=2>
						<!-- 右邊:產品資訊 -->
						<form action="/cartitem/addAnCartItem" method="POST">
							<!-- 隱藏的 productId input -->
							<input type="hidden" name="productId" th:value="${session.PInfo.productId}">
							<table style="font-size:20px">
								<tr>
									<td width=100px height=50px>產品名稱
									<td th:text="${session.PInfo.productName}" />
								<tr>
									<td height=50px>單價
									<td th:text="${session.PInfo.price}">
								<tr>
									<td height=50px>購買數量
									<td><input type="number" name="quantity" min="0" placeholder="請輸入數量" required />
			        			<tr>
									<td height=100px colspan="2" align=center>
									<input type="submit" value="加入至購物車">
							</table>
							
							
						</form>	
					</tr>
				<tr height=100px>
					<td>
				</tr>
			</table>
		</div>
	</div>
	
	<!-- footer區 -->
	<div class="footer">
		© 2023 XXXXXY. All rights reserved.
	</div>
	
</body>
</html>