<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>商品專區</title>
	<link rel="stylesheet" href="/css/st1.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
</head>
<body>
	<!-- header區 -->
	<div class="header">
		<h1 style="padding:15px 20px">有機農產品購物網</h1>
		<h2 style="padding:5px 20px">商品專區</h2>
	</div>
	
	<div class="linklist">
		<table>
			<tr>
				<td>選購商品
				<td width=60 align=center><a href="/product/vegetables">Vegetables</a>
				<td width=60 align=center><a href="/product/fruits">Fruits</a>
				<td width=60 align=center><a href="/product/others">Others</a>
				<td width=250 align=right><a href="/cart/loginCart">查看購物車</a>
				<td width=300 align=left><a href="/user/toIndex">回首頁</a>
			</tr>
		</table>					
	</div>
	
	<!-- content區 -->
	<div class="content">
		<div class="productInfo">
			
			<!-- 產品圖片 -->
			<div class="container">
				<img th:src="@{'/pic/vegetables/'+${session.P.productId}+'.jpg'}">
			</div> 

			
			<form action="/cartitem/addAnCartItem" method="POST">
				<table>
					<tr>
						<td>產品名稱
						<td th:text="${session.P.productName}" />
					<!-- 隱藏的 productId input -->
					<!-- 确保 ${session.P.productId} 的值是有效的數字。在這裡使用 Thymeleaf 的 th:value 屬性 -->
        				<input type="hidden" name="productId" th:value="${session.P.productId}">
					<tr>
						<td>單價
						<td th:text="${session.P.price}">
					<tr>
						<td>購買數量
						<td><input type="number" name="quantity" placeholder="請輸入數量" required/ >
        			<tr>
						<td colspan="2">
						<input type="submit" value="加入至購物車">
				</table>
			</form>	
		</div>
		
	</div>
	
	<!-- footer區 -->
	<div class="footer">
		© 2023 XXXXXY. All rights reserved.
	</div>
	

</body>
</html>