<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>會員登入成功</title>
	<link rel="stylesheet" href="/css/st1.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
</head>
<body>
	<!-- header區 -->
	<div class="header">
		<h1 style="padding:15px 20px"><a href="/user/toIndex">有機農產品購物網</a></h1>
	</div>
	
	<!-- content區 -->
	<div class="content">
		<div class="loginForm">
			<h1>已登出</h1>
			<h2><a href="/user/toIndex">回首頁</a></h2>
		</div>
		
	</div>
	
	<!-- footer區 -->
	<div class="footer">
		© 2023 XXXXXY. All rights reserved.
	</div>
	

</body>
</html>